
// Reset
@use './base/reset';
@use './base/_normalize-fwd';

// components
@use './components/header';
@use './components/footer';
@use './components/btn-main-nav';
@use './components/main-nav';
@use './components/pageHome';
@use './components/pageFavorite';
@use './components/pageMovieDetail';
@use './components/pageAbout';

body {
    font-family: 'Source Sans Pro';
}

h1 {
    font-size: 2rem;
}

h2  {
    font-size: 1.5rem;
    margin: 0;
}

p {
    font-size: 1.3rem;
}

.site-wrapper {
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
}